body, p, h1, ul, li, blockquote { 
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Vollkorn', Georgia, serif;}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img{
    max-width: 100px;
}

/* GRID GERAL */

.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
        "header header header"
        "sidenav content anuncios"
        "footer footer footer"
    ;
}

.header {
    grid-area: header;
    background-color: lightgrey;
}

.sidenav {
    grid-area: sidenav;
    background-color: lightpink;
}

.content {
    grid-area: content;
    background-color: lightsalmon;
}

.anuncios {
    grid-area: anuncios;
    background-color: lightseagreen;
}

.footer {
    grid-area: footer;
    background-color: lightskyblue;
}